.print-off{
    display: none;
}
body{
	margin:0;
	padding:0;
	font-family:Arial,serif;
	background-color: white;
	line-height:100%;
	font-size:medium;
	color:#000000;
    
}


#container{
	margin:0 ; 
    background-color:#FFFFFF;  
    
}


#masthead{
	color:#FFFFFF;
	background-color:navy;
	text-align:center;
}

#masthead h1{
	font-size: 180%;
	line-height: 235%;
	color:#FFFFFF;
    width:250px;
}

#navigation{
    display: none;
	background-color:Gray;
	margin:0;
    padding:0;

}

#navigation ul{
	margin:0;
	
	list-style:none;
	overflow:hidden;
}

#navigation li{
	padding:0;
	margin:0;
}

#navigation a{
		
	border: 2px inset #CCCCCC;
	background-color: #0000FF;
	line-height: 250%;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 17px;

	text-decoration:none;

}

#navigation a:hover{
	color: #FFFF00;
	border: 2px outset #CCCCCC;

}

#maincontent
{
    background-image: url('Images/background.jpg');
    background-repeat:repeat-y;
}


#leftcolumn{
	text-align:left;
}

#rightcolumn{
	text-align:left;
}

#rightcolumn p
{
    font-size:small;
    word-spacing: 105%;
    line-height:110%;
    margin:0;
}

#footer{
	padding:0;
	margin:0;
    background-color:Navy;
    color:#FFFFFF;
    text-align:center;
}


#footer p
{
    margin:0;
   
}


h1
{
    color:Navy;
    font-size:xx-large;
    line-height:100%;
    font-family:Tahoma;
    clear:both;
}

h2
{
    color:Navy;
    font-size:x-large;
    line-height:100%;
    font-family:Tahoma;
    clear:both;
}

h3
{
    color:Navy;
    font-size:large;
    line-height:100%;
    font-family:Tahoma;
}

.contact
{
	
    text-align:right;
    color:#FFFFFF;
    width: 250px;
    font-size: small;
    margin:0;
    
}






.clearfloat
{
    clear:both;
}

.moveleft
{
    width:260px;
    text-align:left;
   
}

.moveright
{
    width:260px;
    text-align:right;
    
}

.imageleft
{
    display: none;
	float:left;
	
}

.imageright
{
    display: none;
	float:right;
	
}

.logoleft{
	
	width: 150px;
}


